.bodybac {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.808);
  margin: 0;
}

/* ----------------------العنوان-------------------------- */

/* قم بتغيير عرض الناف بار حسب الصورة  */
.navbar {
  padding: 0;
  margin: 0;
}

.head-ul {
}

.head-a {
  text-decoration: none;
  font-size: 20px;
}
.title {
  text-align: center;
  margin: 0;
}
/* استعمل الهوامش او الحواشي لتعديل الشكل  */
.head-li {
}

/* -----------------------المحتوى---------------------------- */

.menu {
  display: block;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 30px;
  height: 500px;
}
img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  border-radius: 20px;
}

.menu-title {
  display: block;
}

/* ------------------------الشريط الجانبي--------------------- */
/* --------------------200px اجعل عرض الشريط------------------ */
.sidebar {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 20px;
}
.side-a {
}

.side-ul {
  margin-left: 40px;
}
h2 {
  margin-right: 25px;
}
.side-li {
}
